.logincontent{
    margin: 0 auto;
    height: 500px;
    width: 400px;
    background-color: rgba(226, 228, 167, 0.206);
    border-radius: 10px;
}
.logincontent{
    margin: 0 auto;
    height: 500px;
    width: 400px;
    background-color: rgba(226, 228, 167, 0.206);
    border-radius: 10px;
}